body {
    padding-bottom: 50px;
}


p {
	font-style: helvetica;
}


#conserve {
	margin-left: 20px;
}

a:link{
	text-decoration: none;
}

h1 {
	color: black;
	text-decoration: none;
}

h1 small {
	color: white;
	text-decoration: none;
}


.global-container {
	position: fixed;
	top: 50%;
	text-align: center;
}

.panel {
	text-align: center;

}





.col-md-4 {
	background: rgba(174, 214, 241, .5);
	border: solid black .5px;
	border-radius: 12px;
	width: 33%;
}

.map1 {
	text-align: center;
	
}



.carousel-inner > .item > img {
    margin: 0 auto;
}

.container_volunteer{
	background: rgba(174, 214, 241, .5);

}

.beach {
	min-height: 450px;
}

.temp {
	font-size: 36pt;
}

.minHeight {
	font-size: 36pt;
}

.maxHeight {
	font-size: 36pt;
}
